<nav class="navbar navbar-expand-lg bg-body-tertiary style-nav navbar-dark bg-gradient pt-3">

  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text color-hamb"></span>
    </button>

    <div class="navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-center align-items-center w-100">
        <a class="nav-link active text-center" aria-current="page" href="/">
          <img class="w-50 mt-2 " src="/assets/iconomando.png"/>
        </a>
        <h1 class="mx-3">InstaGame</h1>

          <div class="text-center d-flex mx-auto gap-sm-3">
              <a class="nav-link a-style" href="/game/addGameNav/">Añade tus juegos</a>
              <a class="nav-link a-style" href="/users/registerUser">Regístrate</a>
           </div>
           <div>
              <a class="nav-link a-style m-sm-2">Login</a>
           </div>
      </div>
    </div>
  </div>
</nav>