<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro de Usuario</title>
    <link rel="stylesheet" href="/stylesheets/form.css">
  <%- include('modules/links') %>
</head>
<header>
 <%- include('modules/navbar') %>
</header>
<body>
    <section>
      <h2 class="fs-1 text-center text-light">Regístrate en nuestra comunidad gamer</h2>
      <div class="d-flex justify-content-center">
        <form action="/users/registerUser" method="post" enctype="multipart/form-data">
          <div class="form p-4">
            <div class="d-flex flex-column p-2">
              <label for="nombre">Nombre:</label>
              <input name="first_name" type="text">
            </div>
            <div class="d-flex flex-column p-2">
              <label for="apellidos">Apellidos:</label>
              <input name="last_name" type="text">
            </div>
            <div class="d-flex flex-column p-2">
              <label for="email">Email:</label>
              <input name="email" type="email">
            </div>
            <div class="d-flex flex-column p-2">
              <label for="Password">Password:</label>
              <input name="password" type="password">
            </div>
            <div class="d-flex flex-column p-2">
              <label for="Description">Description:</label>
              <input name="description" type="text">
            </div>
            <div class="d-flex flex-column p-2">
              <label for="imagen">
              <img src="/assets/iconosubirfoto.png" alt=""> Sube tu foto
              </label>
              <input name="img" type="file" id="imagen" hidden>
            </div>
            <p class="msg-allert"><%= message %></p>
            <div class="d-flex">
              <button type="submit" class="btn">Aceptar</button>
              <button class="btn" onclick="history.go(-1)">Cancelar</button>
            </div>
          </div>
        </form>
      
      </div>
    </section>
    <footer>
      <%- include('modules/footer.ejs') %>
    </footer>
</body>
</html>