body{
  background-image: linear-gradient(rgb(0,0,0, 0.4)), url("/assets/formularios.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;

   .form{
      background: rgba(241, 171, 171, 0.14);
      border: 1px solid rgba(255,255,255,0.15);
      box-shadow: 0 0 24px #6c63ff, 0 0 32px #00eaff36;
      border-radius: 12px;
      margin-block-end: 8rem;
      
     button{
        background-color: rgb(200, 109, 236);
        font-weight: bold;
        border-radius: 20px;
        margin: 2rem;
        color: black;

   }
    
button:hover{
      background: rgb(235, 13, 235);
      transition: ease-in-out all 0.4s;
    }

}

label{
  color: white;
 
}

}
